@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'IBM Plex Mono', monospace !important;
  box-sizing: border-box;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #a7a6a6;
	width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #717171;
}

/* Firefox */
html:not(:-moz-handler-blocked) {
	scrollbar-color: #717171 #a7a6a6;
	scrollbar-width: thin;
}

/* Edge */
@supports (-ms-overflow-style: none) {
	/* disable IE11+ Windows Scrollbar */
	*::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
	* {
		-ms-overflow-style: none !important;
	}
	/* enable Edge and Chromium Edge Scrollbar */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	::-webkit-scrollbar-track {
		background: #a7a6a6;
		width: 5px;
	}
	::-webkit-scrollbar-thumb {
		background: #717171;
		border-radius: 50px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #717171;
	}
}


i{
  font-style: italic;
  font-weight: 400;
}