.CreateAndJoin{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3b3b3b5d;
  z-index: 4;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;

  .card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
  }
}

.nav{
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eaeaea;

  h1{
    font-size: 18px;
    font-weight: 500;
    color: #49BFB7;
    text-shadow: 1px 1px 2px #cecece;
  }

  span {
    display: inline-flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #cecece;
    color: #fff;
    position: relative;
    top: -10px;
    right: -10px;
    cursor: pointer;
    
    &>svg{
      height: 18px;
      stroke-width: 3;
    }

    &:hover{
      background-color: #fff;
      color: #df4848;
    }

  }
}

.body{
  padding: 10px;
  min-width: 200px;
}

.join,
.crete{
  display: flex;
  flex-direction: column;
  gap: 15px;

  .fieldInput{
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    background-color: #F8F7FC;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;

    label {
      font-size: 11px;
      position: relative;
      top: -5px;
      left: -4px;
    }
    
    input {
      border: none;
      outline: none;
      background-color: transparent;
      text-align: center;
    }
  }
  
  .labelValid,
  .labelInValid,
  .labelLoading
  {
    position: absolute;
    right: 30px;
    bottom: 98px;
    font-size: 10px;
    font-weight: 600;
    color: #49BFB7;
  }
  .labelInValid{
    color: #df4848;
  }
  .labelLoading{
    color: #525252;
  }

  .checkbox{
    font-size: 13px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    cursor: pointer;

    input {
      margin: 0;
      width: 15px;
      height: 15px;
    }
  }

  button {
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    transition: all .3s;
    background-color: #cecece;
  }

  .btnValid {
    cursor: pointer;
    background-color: #49BFB7;
    &:hover{
      transform: scale(1.04, 1.04);
    }
  }
}

.join{
  .labelValid,
  .labelInValid,
  .labelLoading
  {
    right: 30px;
    bottom: 85px;
    font-size: 9px;
  }
}