.loading {
  background-color: #00000080;
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  transition: all .3s;

  h1 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    animation: blink 1s ease-in-out infinite;

  }
}

.lds_ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  &>div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {

  0%,
  100% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.1);
  }
}