$breakpoint-table: 768px;
$breakpoint-phone: 480px;

.container {
  background: #fff;
  position: relative;
  margin: auto;
  box-shadow: 0 0 20px #979797;
  border-radius: 10px;
  max-width: $breakpoint-table;

  .accessories:nth-child(1) {
    position: relative;
    width: 100%;

    span {
      display: block;
      border-radius: 100%;
      position: fixed;

      &:nth-child(1) {
        background: #49BFB7;
        width: 80px;
        height: 80px;
        top: 218px;
        left: -20px;
      }

      &:nth-child(2) {
        background: #FA8F9F;
        width: 102px;
        height: 102px;
        top: 105px;
        right: 48px;
      }

      &:nth-child(3) {
        background: #FEAE0C;
        width: 78px;
        height: 78px;
        top: 645px;
        right: -30px;
      }

      &:nth-child(4) {
        background: #8FD3FA;
        width: 59px;
        height: 59px;
        top: 476px;
        left: 69px;
      }
    }
  }
}

// @media (max-width: $breakpoint-phone){

// }