.main {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

  .label {
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
      cursor: pointer;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p:nth-of-type(1) {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -.1mm;
      }

      p:nth-of-type(2) {
        font-size: 12px;
        letter-spacing: -.1mm;
      }
    }
  }
}


.body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 150px;

  &>div:nth-of-type(1) {
    padding: 0 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    gap: 20px;
    width: 100%;

    .otherChat {
      display: flex;
      gap: 10px;
      max-width: 50%;
      margin-right: auto;

      img {
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        border-radius: 50%;
        box-shadow: 0 4px 4px #00000040;
        background-color: #49BFB7;
      }

      &>div {
        display: inline;

        &>div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 4px;
          gap: 10px;

          p {
            font-size: 12px;
            color: #000;
            text-transform: capitalize;
          }

          p:nth-of-type(1) {
            font-weight: 600;
          }

          p:nth-of-type(2) {
            font-weight: 400;
          }
        }

        &>p {
          background-color: #fff;
          padding: 16px;
          border-radius: 0 20px 20px 20px;
          border: 1px solid #000;
          word-wrap: break-word;
          width: max-content;
          max-width: 50vw;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          box-shadow: 10px 10px 21px #75757540;
        }
      }
    }

    .meChat {
      display: flex;
      margin-left: auto;
      flex-direction: column;
      gap: 4px;

      &>p:nth-of-type(1) {
        font-size: 12px;
        color: #000;
        text-transform: capitalize;
        font-weight: 400;
      }

      &>p:nth-of-type(2){
        background-color: #49BFB7;
        color: #fff;
        padding: 16px;
        border-radius: 20px 20px 0 20px;
        border: 1px solid #000;
        word-wrap: break-word;
        width: max-content;
        max-width: 50vw;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        box-shadow: 10px 10px 21px #75757540;
      }
    }
  }
}

.footer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
  background: linear-gradient(358.05deg, #FFFFFF 72.94%, rgba(255, 255, 255, 0) 93.52%);

  textarea {
    flex-grow: 1;
    padding: 12px 20px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    resize: none;
    height: 50px;

    &::-webkit-scrollbar{
      width: 0;
    }
  }

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #49BFB7;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    cursor: pointer;

    svg {
      stroke-width: 1.5;
    }

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}